@model RegisterVM

@{
    ViewData["Title"] = "Register";
}

<h1 class="mb-4">Register</h1>

<form class="col-md-7 col-lg-5 col-12" asp-action="Register" method="post">
    <div class="mb-3">
        @* 'ModelOnly' refers to the validation set within RegisterVM.cs *@
        <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
        <label asp-for="Name" class="mb-2"></label>
        <input class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <div asp-validation-summary="ModelOnly"></div> 
        <label asp-for="Email" class="mb-2"></label>
        <input class="form-control" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <div asp-validation-summary="ModelOnly"></div> 
        <label asp-for="Password" class="mb-2"></label>
        <input class="form-control" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <div asp-validation-summary="ModelOnly"></div> 
        <label asp-for="ConfirmPassword" class="mb-2"></label>
        <input class="form-control" asp-for="ConfirmPassword">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <div asp-validation-summary="ModelOnly"></div> 
        <label asp-for="Address" class="mb-2"></label>
        <textarea class="form-control" asp-for="Address" rows="2"></textarea>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <a asp-action="Login" class="text-decoration-none">Have an account?</a>
    </div>
    <div class="d-flex flex-row justify-content-between">
        <a class="btn btn-danger" asp-controller="Home" asp-action="Index">Cancel</a>
        <button type="submit" class="btn btn-success">Register</button>
    </div>
</form>

@* Enables '@await RenderSectionAsync()' which is set at the bottom of '_Layout.cshtml'. This allows you to access '_ValidationScriptsPartial.cshtml' file which calls JS scripts that dynamically adds/removes validation text on the form when interacting with the input fields. Basically like linking an external JS script file at the bottom of a html file.  *@
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}